# Basic Python Concepts
---

In [2]:
# python input output

# input and output
x = input("Input a number")
print(x)

10

### 1. Data Types
---

- Text type: `string`
- Numeric Type: `int`, `float`, `complex`
- Sequence Type: `list`, `tuple`, `range`, `Array()`
- Mapping Type: `dist`
- Set Type: `set`, `frozenset`
- Boolean Type: `bool`
- Binary Type: `bytes`, `bytearray`, `memoryview`
- None Type: `None`, `Type`

In [ ]:
import pandas as pd

string_val = "Irfan"

numeric_value_int = 100
numeric_value_float = 100.30
numeric_value_complex = 100 + 3j

sequence_type_list = [1, "Naira", {"email": "naira@irfans.dev"}, (2,5,6,7)] # work like js Array, dynamic array
sequence_type_tuple = (1, "mao mao") # work like list but data can't be delete # sequence_type_tuple.pop() # give an error
sequence_type_range = list(range(10)) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
sequence_type_array = pd.array([1,2,3, None, 5,], dtype='Int64')

mapping_type_dist = {"key 1": "value 1", "key 2": "value 2"} # work like Json array

set_type_sets = {1,2,3, "kao", None}
set_type_frozen_Set = frozenset([1,2,3,4,5]) # perform operation like union, intersectioon, difference methos but not work others methods

boolean_type_true = True
boolean_type_false = False



none_type_none = None

### 2. Operators
---

- Ternary operator: `value_1 if condition else value_2`
- arithmetic operator: `+`, `-`, `*`, `/`, `%`
- comparison operator: `<`, `>`, `<=`, `>=`
- logical operator: `and`, `or`, `not`
- bitwise operator: `|`, `&`
- assignment operator: `=`

In [ ]:
ternary_operator = 10 if x >= 10 else 20

arithmetic_operator_plus = 10 + 20
arithmetic_operator_minus = 10 - 20
arithmetic_operator_multiplly = 10 * 20
arithmetic_operator_division = 10 / 20
arithmetic_operator_modulus = 10 % 20

comparision_operator_less_than = 10 > 5
comparision_operator_greater_than = 10 > 5
comparision_operator_less_than_or_equalto = 10 <= 5
comparision_operator_greater_than_or_equalto = 10 >= 5

logical_operator_and = 10 and 20
logical_operator_or = 10 or 20
logical_operator_not = not 20

False

### string 
---

In [42]:
s_1 = ''' Irfan '''
s_2 = ' Irfan '

s_3 = """ Naira """
s_4 = " Naira "

s_5 = f"output {10}"
s_6 = pd.read_csv(r".\nn\pima-indians-diabetes.csv")

s_6.head(2)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,NaN
1,1,85,66,29,0,26.6,0.351,31,0.0